header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

#api_status {
    border-radius: 40px;
    margin: 0 auto;
    background-color: #cccccc;
    border-right: 30px;
}

.available {
    background-color: #ff545f;
}
